.support {
    .sectionContainer {
        .titlesDiv {
            text-align: center;
            small {
                letter-spacing: 0.8rem;
                text-transform: uppercase;
                font-style: 13px;
                color: var(--blackColor);
                line-height: 1.5rem;
            }
        }
        .infoDiv {
            margin-top: 2rem;
            gap: 1.5rem;
            .textDiv {
                gap: 1.5rem;
            }

            .singleInfo {
                .number {
                    background: var(--PrimaryColor);
                    padding: 5px 12px;
                    width: 40px;
                    border-radius: 3rem;
                    font-style: 13px;
                    font-weight: 700;
                    color: var(--whiteColor);
                }
                .colorOne {
                    background: var(--colorOne);
                }
                .colorTwo {
                    background: var(--colorTwo);
                }
            }
        }
        .imgDiv {
            margin: auto;
            img {
                width: 100%;
                max-width: 420px;
            }
        }
    }
}
