.home {
  padding-top: 10rem;
  text-align: center;
  gap: 2rem;
  flex-direction: column;
}

.homeImages {
  width: 100%;
  margin: 1rem auto 0;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 5rem;
}

.videoDiv {
  width: 100%;
  video {
    border-radius: 10rem;
  }
}

.plane {
  position: absolute;
  width: 100%;
  top: -10%;
}

@media screen and (min-width: 480px) {
  .home {
    padding-top: 12rem;
  }
}

@media screen and (min-width: 570px) {
  .home {
    .mainText {
      width: 80%;
    }

    .homeImages {
      .videoDiv {
        video {
          border-radius: 15rem;
        }
      }
      .plane {
        position: absolute;
        width: 95%;
        top: -8px;
      }
    }
  }
}

@media screen and (min-width: 680px) {
  .home {
    .mainText {
      width: 80%;
    }

    .homeImages {
      .videoDiv {
        width: 80%;
        .video {
          height: 100%;
          width: 100%;
          border-radius: 15rem;
        }
      }

      .plane {
        width: 95%;
        top: -8%;
      }
    }
  }
}

@media screen and (min-width: 960px) {
  .home {
    padding-top: 13px;
    .mainText {
      width: 70%;
      padding-bottom: 1.5rem;
      font-size: 22px;
      line-height: 4rem;
      padding-top: 8rem;
    }
  }
}

@media screen and (min-width: 1024px) {
  .home {
    .homeImages {
      width: 60%;
      .videoDiv {
        width: 90%;
        height: 300px;

        .video {
          height: 100%;
          width: 100%;
          object-fit: cover;
          border-radius: 15rem;
        }
      }
    }
  }
}
