.navBar {
  position: fixed;
  flex-direction: column;
  width: 100%;
  z-index: 1;

  .navBarOne,
  .navBarTwo {
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
  }

  .navBarOne {
    background: var(--SecondaryColor);

    .icon:hover {
      color: var(--PrimaryColor);
    }

    .atb {
      gap: 1rem;

      span {
        color: var(--blackColor);
        font-size: 13px;
        cursor: pointer;

        &:hover {
          color: var(--PrimaryColor);
          font-weight: 700;
        }
      }
    }
  }

  .navBarTwo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 3rem;
    padding: 1.5rem 1rem;
    position: fixed;
    transition: 0.3s ease-in-out;

    .logoDiv {
      .logo {
        width: 20%;
      }
    }

    .toggleIcon {
      .icon {
        font-size: 30px;
        color: var(--blackColor);
      }
    }
    .showNavBar {
      right: 50%;
      transition: 0.5s ease-in-out;
    }
  }

  .navBarBg {
    background: var(--SecondaryColor);
    padding: 0.5rem 1rem;
    box-shadow:
      rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
      rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  }
}

.showNavBar {
    padding: 0 5rem;
}

@media screen and (max-width: 768px) {
  .navBarMenu {
    position: absolute;
    background-color: var(--SecondaryColor);
    color: var(--SecondaryColor);
    padding: 1.5rem;
    border-radius: 10px;
    top: 5rem;
    right: -50%;
    width: 80%;
    transform: translateX(50%);
    z-index: 2;
    box-shadow:
      rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
      rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    border: 3px solid white;
    transition: 0.5s ease-in-out;

    .menu {
      flex-direction: column;
      gap: 0.5rem;
      text-align: center;

      .listItem {
        padding: 0.5rem 0;
        cursor: pointer;
        color: var(--blackColor);

        &:hover {
          color: var(--PrimaryColor);
          font-weight: 700;
        }
      }
    }

    .btnOne {
      display: block;
      justify-content: center;
      margin: auto;
      margin-top: 1rem;
    }
  }

  .btnTwo {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .navBar {
    align-items: center;
    .navBarOne {
      .none {
        display: flex;
        gap: 1.5rem;

        li {
          font-size: 13px;
          gap: 0.5rem;
          color: var(--textColor);

          &:hover {
            color: var(--PrimaryColor);
            text-decoration: underline;
          }
        }
      }
    }

    .navBarTwo {
      justify-content: space-between;
      align-items: center;

      .logoDiv {
        .logo {
          max-width: 20%;
        }
      }

      .menu {
        flex-direction: row;
        gap: 0.5rem;

        .listItem {
          padding: 0 0.5rem;
          font-size: 14px;
          cursor: pointer;
          color: var(--textColor);
          font-weight: 700;

          &:hover {
            font-weight: 700;
            color: var(--PrimaryColor);
          }
        }
      }

      .btnOne,
      .toggleIcon {
        display: none;
      }
    }
  }
}


@media screen and (min-width: 1024px) {
  .navBar {
    .navBarOne, .navBarTwo {
      padding: 1.5rem 5rem;
    }
  }
}