.search {
    .searchInputs {
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1.5rem;
    }
}

@media screen and (min-width: 480px) {
    .search {
        .searchInputs {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media screen and (min-width: 570px) {
    .search {
        .btns {
            border-radius: 3rem;
            flex-direction: row;
        }
        .searchInputs {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }
}
