.travelers {
    .sectionContainer {
        text-align: center;

        .travelersContainer {
            margin-top: 1rem;
            gap: 1.5rem;

            .singleTraveler {
                position: relative;
                height: 280px;
                width: 85%;
                max-width: 250px;
                overflow: hidden;
                border-radius: 10rem;
                gap: 1rem;
                margin: auto;

                .destinationImage,
                .travelerImage,
                .travelerName {
                    position: absolute;
                }

                .destinationImage {
                    width: 100%;
                    height: 100%;
                    inset: 0;
                    object-fit: cover;
                }

                .travelerImage {
                    width: 50px;
                    height: 50px;
                    object-fit: cover;
                    border-radius: 50%;
                    bottom: 30px;
                    left: 40%;
                    transform: translateX(-50%);
                    border: 5px solid rgba(255, 255, 255, 0.637);
                    transition: var(--transition);
                    animation: animated 2.3s infinite;
                }
                @keyframes animated {
                    0% {
                        transform: translateY(-15px);
                    }
                    50% {
                        transform: translateY(-30px);
                        scale: 2;
                    }
                    100% {
                        transform: translateY(-15px);
                    }
                }

                .travelerName {
                    bottom: -100%;
                    width: 100%;
                    height: max-content;
                    background: var(--whiteColor);
                    padding: 1.5rem 1rem;
                    transition: var(--transition);
                    animation: animatedBorder 2.3s infinite;

                    span {
                        display: block;
                        color: black;
                        font-weight: 700;
                    }

                    p {
                        color: var(--PrimaryColor);
                        font-style: italic;
                    }
                }

                @keyframes animatedBorder {
                    0% {
                        border-radius: 0rem;
                    }
                    50% {
                        border-radius: 2rem;
                    }
                    100% {
                        border-radius: 0rem;
                    }
                }

                &:hover {
                    .travelerName {
                        bottom: 0;
                        transition: 1s ease-in-out;
                    }

                    .travelerImage {
                        bottom: 110px;
                        transition:  1s ease-in-out;
                    }
                }
            }
        }
    }
}
